/* Set responsive for screen 1920px) */
@media (max-width:1920px){
    .content {
        padding-top: 20%;
    }

    .section-header-title{
        font-size: 80px;
        line-height: 160%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 22px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 100px;
    }
    .section-text{
        font-size: 18px;
        line-height: 250%;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 33.33%;
        height: 600px;
    }

    .team-card{
        width: 50%;
        float: left;
    }

    .team-image{
        width: 20%;
        height: 145px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 22px;
    }

    .slider-image-under{
        width: 60%;
    }

    .top-image-slider{
        top: 58%;
        height: 10%;
        width: 8%;
        left: 33%;
    }

    .slider-container-content{
        width: 65%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 555px;
        top: 65%;
    }

    .slider-container-content .section-title{
        font-size: 70px;
        line-height: 140%;
    }

}


/* Set responsive for screen 1440px) */
@media (max-width:1440px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 80px;
        line-height: 160%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 16px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 80px;
    }
    .section-text{
        font-size: 16px;
        line-height: 160%;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 33.33%;
        height: 500px;
    }

    .team-card{
        width: 50%;
        float: left;
    }

    .team-image{
        width: 20%;
        height: 100px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .slider-image-under{
        width: 60%;
    }

    .top-image-slider{
        top: 58%;
        height: 10%;
        width: 8%;
        left: 33%;
    }

    .slider-container-content{
        width: 65%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 455px;
        top: 65%;
    }

    .slider-container-content .section-title{
        font-size: 70px;
        line-height: 140%;
    }
}

/* Set responsive for screen 1280px) */
@media (max-width:1280px){
    .content {
        padding-top: 38% !important;
    }
}

/* Set responsive for screen 1024px and 960px) */
@media (max-width:1024px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 40px;
        line-height: 140%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 12px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 80px;
    }
    .section-text{
        font-size: 14px;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 33.33%;
        height: 480px;
        margin-top: 5%;
    }

    .team-card{
        width: 50%;
        float: left;
    }

    .team-image{
        width: 25%;
        height: 100px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .slider-image-under{
        width: 55%;
    }

    .top-image-slider{
        top: 58%;
        height: 10%;
        width: 8%;
        left: 33%;
    }

    .slider-container-content{
        width: 65%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 295px;
        top: 65%;
    }

    .slider-container-content .section-title{
        font-size: 70px;
        line-height: 140%;
    }
    /* menu respon*/
    .title {
        width: 76%;
        font-size: 32px;
    }
    .itzinya-intro, .contact-footer {
        width: 30%;
    }
    .btn-close {
        width: 6%;
        height: 11%;
        font-size: 21px;
    }

    /* kiet */
    .content {
        padding-top: 55% !important;
    }
    .section1-title, .section2-title{
        font-size: 40px;
    }

    /* css for card section */
    .img-title{
        font-size: 14px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-content{
        font-size: 12px;
    }

    /*parameter*/
    .number{
        font-size: 70px;
    }

    .detail{
        font-size: 12px;
    }

    /*footer*/
    .footer-title{
        font-size: 44px;
        line-height: 150%;
    }

    .networks-title, .news-title, .contact-title{
        font-size: 20px;
    }

    .network-list p a, .news-list p a{
        font-size: 12px;
    }

    .network-list p a, .news-list p a{
        font-size: 12px;
    }
}
/* Set responsive for screen 840px) */
@media (max-width:840px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 40px;
        line-height: 140%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 12px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 80px;
    }
    .section-text{
        font-size: 14px;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 60%;
        height: 480px;
        margin-top: 5%;
        margin-left: 20%;
    }

    .team-card{
        width: 100%;
        float: left;
    }

    .team-image{
        width: 25%;
        height: 160px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .slider-image-under{
        width: 100%;
    }

    .top-image-slider{
        top: 92%;
        height: 9%;
        width: 20%;
        left: 2%;
    }

    .slider-container-content{
        width: 100%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 0px;
        top: 99%;
    }

    .slider-container-content .section-title{
        font-size: 70px;
        line-height: 140%;
    }

    /* trang */
    .title {
        font-size: 27px;
        width: 68%;
    }
    .description {
        font-size: 12px;
    }
    .fa-menu {
        font-size: 23px !important;
    }
    .menu-title {
        font-size: 11px;
    }
    .li-menu {
        font-size: 23px;
    }
    .startup-title {
        font-size: 30px;
    }
    /* responsive for story page */
    .page-title {
        font-size: 52px;
        padding-top: 200px;
    }
    .btn-menu {
        width: 9%;
        height: 80%;
        right: 28px;
        top: 15px;
    }
    .section-title {
        font-size: 57px;
        line-height: 50%;
    }
    .story {
        display: flex;
        flex-direction: column;
    }
    .content-left-responsive {
        width: 100%;
        order: 2;
    }
    .content-right-responsive {
        width: 100%;
        order: 1;
    }
    .story-content-left {
        width: 100%;
    }
    .story-content {
        padding-left: 0px;
    }
    .btn-close {
        width: 9%;
        height: 10%;
        right: 55px;
        font-size: 26px;
    }
    /* kiet */
    .content {
        padding-top: 95% !important;
    }

    .partner-section .image {
        width: 33%;
    }
    .footer-title {
        font-size: 30px;
        padding: 10px;
    }

    /* footer section-2 */
    .itzinya-intro, .contact{
        width: 28%;
    }

    .networks, .news{
        margin-right: 10px;
    }

    .network-list p a, .news-list p a{ 
        font-size: 11px !important;
    }
}

@media (max-width: 768px) {
    .section-1{
        overflow: hidden;
    }

    .section1-title, .section2-title {
        font-size: 40px;
        line-height: 110%;
    }

    /*set css for card*/
    .card{
        width: 100%;
    }

    .img-title{
        visibility: hidden;   
    }

    .img-title:before{
        visibility: visible;
        content: "15:00, 10 Dec 2020";
        font-size: 14px;
        line-height: 17px;
    }

    .card-title{
        visibility: hidden;
    }

    .card-title:before{
        visibility: visible;
        content: "Lorem ipsum dolor sit amet,consectetur adipiscing elit";
        font-size: 20px;
        line-height: 150%;
    }


    .card-content{
        visibility: hidden;
    }

    .card-content:before{
        visibility: visible;
        content: "The new much larger facilities are still under construction but the Startup Academy has already inagurated the place and the Incubator is moving in. Curious?...";
        font-size: 14px;
        line-height: 28px;
    }

    .read-more{
        font-size: 14px;
        line-height: 17px;
    }
    
    /*set css for parameter*/
    .parameter-detail{
        width: 50%;
    }

    .detail{
        font-size: 22px;
        line-height: 30px;
    }

    .number{
        font-size: 60px;
    }

    .partner-section .image {
        float: left;
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .image img {
        height: 70px;
        width: 70%;
    }

    .partner-section{
        scroll-behavior: smooth;
    }

    /*css for footer section-1*/
    .footer-section1{
        background: url("image/image38.jpg") no-repeat;
        text-align: center;
        padding-left: 7%;
    }

    .button-learn button {
        margin-bottom: 40px;
    }

    /*css for footer section-2*/
    .itzinya-intro, .networks, .news, .contact{
        width: 90%;
        margin-top: 45px;
    }

}
/* Set responsive for screen 600px) */
@media (max-width:600px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 40px;
        line-height: 140%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 12px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 80px;
    }
    .section-text{
        font-size: 14px;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 70%;
        height: 480px;
        margin-top: 5%;
        margin-left: 15%;
    }

    .team-card{
        width: 100%;
        float: left;
    }

    .team-image{
        width: 25%;
        height: 110px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .slider-image-under{
        width: 100%;
    }

    .top-image-slider{
        top: 92%;
        height: 9%;
        width: 20%;
        left: 2%;
    }

    .slider-container-content{
        width: 100%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 0px;
        top: 99%;
    }

    .slider-container-content .section-title{
        font-size: 35px;
        line-height: 140%;
    }

    /* trang */
    header {
        position: relative;
    }
    .btn-menu {
        width: 65px;
        right: 23px;
        height: 66px;
        top: 6px;
    }
    .fa-menu {
        font-size: 23px !important;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .menu-left {
        order: 2;
        width: 100%;
        padding-top: 0px;
        padding-left: 7%;
        box-sizing: border-box;
        height: auto;
    }
    .menu-right {
        order: 1;
        width: 100%;
    }
    .title {
        font-size: 24px;
    }
    .contact, .list {
        width: 100%;
    }
    .btn-close {
        height: 10%;
        width: 12%;
        font-size: 24px;
    }
    /* responsive for story page */
    .logo-black {
        display: block;
    }
    .logo-white {
        display: none;
    }
    .page-title {
        font-size: 40px;
    }
    .section-title {
        font-size: 40px;
        line-height: 40%;
    }
    .content-below-title {
        line-height: 190%;
    }
    .page-title {
        padding-top: 119px;
    }
    .container-header {
        height: 400px;
    }

    /* kiet */
    .content {
        padding-top: 138% !important;
    }
    /*set css parameter - detail of number*/
    .detail {
        font-size: 16px !important;
    }
    /*---------*/
    .footer-title{
        font-size: 30px;
        padding: 10px;
    }
}
/* Set responsive for screen 480px) */
@media (max-width:480px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 40px;
        line-height: 140%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 12px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 80px;
    }
    .section-text{
        font-size: 14px;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 100%;
        height: 480px;
        margin-top: 5%;
        margin: 0px;
        padding: 0px;
    }

    .team-card{
        width: 100%;
        float: left;
    }

    .team-image{
        width: 25%;
        height: 85px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .top-image-slider{
        top: 92%;
        height: 9%;
        width: 25%;
        left: 2%;
    }

    .slider-image-under{
        width: 100%;
    }

    .slider-container-content{
        width: 100%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 0px;
        top: 99%;
    }

    .slider-container-content .section-title{
        font-size: 35px;
        line-height: 140%;
    }

    /* trang */
    header {
        position: relative;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .menu-left {
        order: 2;
        width: 100%;
        padding-top: 0px;
        padding-left: 7%;
        box-sizing: border-box;
        height: auto;
    }
    .menu-right {
        order: 1;
        width: 100%;
    }
    .title {
        font-size: 24px;
    }
    .contact, .list {
        width: 100%;
    }
    .btn-close {
        height: 46px;
        right: 35px;
        width: 50px;
    }
    .li-menu {
        font-size: 18px;
    }
    .menu-title {
        font-size: 14px;
    }
    .title-res, .startup-title, .description-modal, .readmore {
        display: none;
    }
    .crossbar {
        margin-top: 0px;
        width: 96%;
    }
    .contact-list {
        display: grid;
    }
    /* responsive for story page */
    .page-title {
        font-size: 32px;
        padding-top: 134px;
    }
    .section-title {
        font-size: 31px;
    }
    .image-story {
        height: 100%;
    }
    .title-story {
        font-size: 25px;
    }
    .detailed-content {
        font-size: 14px;
    }
    .btn-menu {
        width: 47px;
        right: 23px;
        height: 46px;
        top: 6px;
    }

    /* kiet */
    .content{
        padding-top: 168% !important;
    }
    .section1-title, .section2-title {
        font-size: 28px;
    }

    /*set css for card*/
    .card {
        overflow: hidden;
        box-sizing: border-box;
    }
    .card-title:before {
        font-size: 14px;
    }
    
    .card-content {
        line-height: 0px;
    }

    /*set css parameter*/
    .detail {
        font-size: 10px !important;
        line-height: 140%;
    }

    .number {
        font-size: 52px;
        line-height: 100%;
    }

    /*set css for image in partner-section*/
    .image img {
        height: 30px !important;
        width: 100px !important;
    }
}
/* Set responsive for screen 360px) */
@media (max-width:360px){
    *{
        box-sizing: border-box;
    }
    .section-header-title{
        font-size: 35px;
        line-height: 140%;
    }

    .section-header-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
        font-size: 14px;
        line-height: 28px;
    }

    .section-card-title-logo{
        height: 70px;
    }
    .section-text{
        font-size: 14px;
        padding: 0px;
        margin-top: 0px;
    }

    /* Card */
    .section-card{
        width: 100%;
        height: 480px;
        margin: 0px;
    }

    .team-card{
        width: 100%;
        float: left;
    }

    .team-image{
        width: 20%;
        height: 65px;
    }

    .team-detail{
        width: 70%;
        height: auto;
    }
    
    .team-detail-name, 
    .team-detail-job, 
    .team-detail-description{
        font-size: 14px;
    }

    .top-image-slider{
        top: 95%;
        height: 5%;
        width: 20%;
        left: 2%;
    }

    .slider-image-under{
        width: 100%;
    }

    .slider-container-content{
        width: 100%;
        height: auto;
        background: url(image/111.png) 100%;
        left: 0px;
        top: 99%;
    }

    .slider-container-content .section-title{
        font-size: 35px;
        line-height: 140%;
    }

    /* trang */

    .title {
        width: 95%;
        font-size: 22px;
    }
    .btn-menu {
        width: 38px;
        height: 38px;
    }
    .btn-close {
        height: 49px;
        width: 53px;
        right: 20px;
    }
    .email {
        width: 50%;
    }
    /* responsive for story page */
    .page-title {
        font-size: 24px;
        padding-top: 67px;
    }
    .section-title {
        font-size: 23px;
    }
    .email {
        width: 100%;
    }
    .fa-menu {
        font-size: 16px !important;
    }
    .btn-menu {
        width: 36px;
        height: 38px;
    }
    .container-header {
        height: 245px;
    }

    /* kiet */
    .content{
        padding-top: 232% !important;
    }
}