body {
    margin: 0px;
    font-family: "proxima-nova";
}

header {
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin-bottom: 3%;
}

.section-content {
    padding-left: 7%;
    box-sizing: border-box;
}

.section-1 {
    height: 100vh;
    position: relative;
    z-index: -1;
}

.menu-top {
    position: absolute;
    width: 92%;
}

.logo {
    width: 30%;
    float: left;
}

.menu {
    width: 10%;
    float: right;
}

.menu-left {
    width: 50%;
    float: left;
    padding-top: 15%;
    height: 100vh;
    box-sizing: border-box;
}

.btn-menu {
    position: absolute;
    width: 5%;
    height: 43%;
    top: 25%;
    background: #f47b21;
    border: none;
}

.menu-right {
    background-image: url("image/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: right;
    position: relative;
    height: 100vh;
}

.menu-right:nth-of-type(2n) {
    background-image: url("image/bg1.png");
}

.logo-img {
    width: 73%;
}

.title {
    width: 62%;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #333333;
}

.description {
    width: 87%;
    font-family: "proxima nova";
    font-weight: bold;
    line-height: 28px;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #444444;
}

.btn {
    width: 60%;
    padding-top: 18px;
}

.button-header {
    background: #f47b21;
    border-radius: 99px;
    padding: 15px 48px;
    border: none;
}

.fa-menu {
    font-size: 24px !important;
}

/* .fa-black {
    display: none !important;
}

.fa-white {
    display: block !important;
    color: #FFFFFF;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
    width: 100%;
    overflow: hidden;
    height: auto;
    background: #333333;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-close {
    position: absolute;
    width: 5%;
    height: 10%;
    right: 84px;
    background: #f47b21;
    border: none;
    font-size: 18px;
    color: white;
}

.header-menu {
    overflow: hidden;
    height: auto;
    margin-bottom: 50px;
}

.logo-modal {
    width: 30%;
    float: left;
}

.logo-modal-img {
    width: 100%;
}

.close-button {
    width: 50%;
    float: right;
    overflow: auto;
    height: auto;
}

.email {
    width: 44%;
    float: left;
}

.menu-list {
    overflow: hidden;
    height: auto;
}

.menu-list, .contact-list {
    width: 100%;
}

.contact-list {
    width: 100%;
    display: flex;
}

.contact {
    width: 50%;
    float: left;
}

.list {
    width: 50%;
    float: left;
}

.menu-title {
    /* font-family: Proxima Nova; */
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
}

.contact {
    width: 50%;
    float: left;
}

.ul-menu {
    list-style-type: none;
    padding: 0px;
}

.li-menu {
    width: 336px;
    height: 42px;
    /* font-family: Proxima Nova; */
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.5);
}

.startup-title {
    /* font-family: Proxima Nova; */
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.07em;
    color: #f47b21;
    margin-top: 7px;
}

.contact-method {
    /* font-family: Proxima Nova; */
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.description-modal {
    margin-left: 101px;
    width: 58%;
}

.description-modal-menu {
    /* font-family: Proxima Nova; */
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.li-contact-list {
    color: #f47b21;
}

.readmore {
    margin-left: 100px;
    /* font-family: Myriad Pro; */
}

.readmore-link-modal {
    /* font-family: Myriad Pro;
     */
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #f47b21;
    text-decoration: none;
}

.img-modal-readmore {
    height: 10px;
    width: 9px;
}

.arrow {
    margin-left: 10px;
}

.crossbar {
    width: 88%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 27px;
    margin-top: 34px;
}

.menu-contact-list {
    list-style-type: none;
    padding: 0px;
}

.social-list {
    padding: 0px;
}

.social-list ul {
    list-style-type: none;
}

.social-list li {
    display: inline-block;
    text-align: center;
    padding: 8px 8px 8px 8px;
    background: #f47b21;
    color: #ffffff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 12px;
    margin-right: 9px;
    width: 15px;
}

.contact-email, .contact-phone {
    width: 100%;
}

.fa-twitter:hover {
    color: #34b6e5;
}

.fa-linkedin:hover {
    color: #003d99;
}

.fa-facebook:hover {
    color: #003d99;
}

/* stories css */

/* ================================================================================== */

body {
    margin: 0px;
}

.container-header {
    background-image: url("image/backgroundstory.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.logo-black {
    display: none;
}

.logo-white {
    display: block;
}

.page-title {
    text-align: center;
    /* font-family: Myriad Pro; */
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    padding-top: 153px;
}

#section-story-content {
    width: 100%;
}

.section-title {
    /* font-family: Myriad Pro; */
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 76%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
}

.content-below-title {
    /* font-family: Myriad Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #868686;
    width: 92%;
}

.story {
    margin-bottom: 5%;
}

.section-content-story {
    padding-right: 5%;
    padding-left: 7%;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
}

.story, .story-content-right {
    overflow: hidden;
    height: auto;
}

.story-content-left {
    width: 50%;
    float: left;
}

.image-story {
    width: 100%;
    height: 440px;
}

.story-test {
    float: right;
    width: 50%;
}

.story-content {
    padding-left: 44px;
    box-sizing: border-box;
}

.title-story {
    /* font-family: Myriad Pro; */
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 115%;
    letter-spacing: 0.07em;
    color: #333333;
}

.detailed-content {
    /* font-family: Myriad Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 200%;
    letter-spacing: 0.07em;
    color: #868686;
}

.frame, .readmore-link {
    float: left;
}

.readmore-link {
    margin-top: 12px;
    margin-left: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: #F47B21;
}

/* CSS for footer */

footer {
    padding-top: 100px;
    width: 100%;
}

.child-footer-section1, .child-footer-section2 {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 53px;
}

.footer-section1 {
    overflow: hidden;
    background: url("image/image38.jpg") no-repeat;
    text-align: center;
}

.footer-title {
    padding: 30px;
    width: 84%;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: 0.03em;
    color: #333333;
}

.button-learn {
    box-sizing: border-box;
}

.button-learn button {
    margin-bottom: 40px;
    padding: 14px;
    align-items: center;
    text-align: center;
    background: #ff000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    width: auto;
    height: auto;
    color: #fff;
}

.footer-section2 {
    background: #222222;
    height: auto;
    overflow: hidden;
}

.content {
    padding-top: 53px;
}

.logo-icon {
    background: url("image/logo-footer.png") no-repeat;
    width: 100%;
    height: 68px;
}

.itzinya-intro, .networks, .news, .contact-footer {
    float: left;
    line-height: 28px;
}

.itzinya-intro, .contact-footer {
    width: 30%;
}

.networks, .news {
    width: 20%;
}

.email-link button {
    border-radius: 30px;
    background: #ff000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    color: #fff;
    width: 98%;
    padding: 10px;
    text-align: left;
}

.email-link button img {
    color: #fff;
    float: right;
}

.networks-title, .news-title, .contact-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.networks-title, .news-title, .contact-title {
    height: 100px;
}

.about-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.07em;
    /* white */
    color: #FFFFFF;
}

.about-content, .subcribe {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.network-list p a, .news-list p a {
    text-decoration: none;
    font-family: verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 240%;
    letter-spacing: 0.07em;
    color: #F47B21;
}

.subcribe, .email-link {
    margin-top: 20px;
}

.social-icon~img {
    margin-left: 10px;
}

/* css for about us */

/* Global CSS */

.section-container {
    width: 100%;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.header-hero {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #333333;
}

.header-hero-section {
    width: 100%;
    height: auto;
    float: left;
}

.header-hero-content {
    width: 50%;
    height: auto;
    float: left;
}

.description-header-hero {
    /* Desktop/Content */
    width: 100%;
    height: auto;
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.07em;
    color: #868686;
}

.image-header-hero {
    width: 90%;
    height: auto;
    padding-left: 10%;
    padding-top: 25%;
    box-sizing: border-box;
}

.button-header-hero {
    display: flex;
    flex-direction: row;
    padding: 15px 48px;
    width: 240px;
    height: 49px;
    top: 550px;
    background: #F47B21;
    border-radius: 99px;
    box-sizing: border-box;
}

.button-header-hero-text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    /* White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

/* You Can Do It...! */

.section-header {
    width: 100%;
    height: auto;
}

.section-header-title {
    width: 100%;
    height: auto;
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    /* Black */
    color: #333333;
}

.section-header-description {
    /* Desktop/H3 */
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;
    letter-spacing: 0.07em;
    /* Black */
    color: #333333;
}

.section-content-container {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.section-content {
    width: 100%;
    height: auto;
    float: left;
}

.section-content-card {
    width: 25%;
    height: 580px;
    background-color: white;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-sizing: border-box;
}

.section-content-title {
    /* Desktop/H3 */
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    /* Primary */
    color: #F47B21;
}

.section-content-description {
    /* Desktop/Content */
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.07em;
    /* Grey-text */
    color: #868686;
}

.section-left-title {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 5%;
}

div.section-left-title .section-content-title {
    text-align: left;
}

.section-right-text {
    width: 70%;
    height: auto;
    float: left;
}

div.section-right-text .section-content-description {
    text-align: left;
    margin-bottom: 10%;
}


/*-----------------*/


/* Phuong css */


/* Section How We Help */
.section-container{
    width: 100%;
    height: auto;
    /* padding: 7%; */
    padding: 5%;
    box-sizing: border-box;
}

.section-header{
    margin-top: 10%;
    width: 100%;
    height: auto;
    text-align: center;
}

.section-header-title{
    width: 100% ;
    height: auto;

    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 140%;
    /* identical to box height, or 112px */
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #333333;
}

.section-header-description{
    width:100%;
    height: auto;

    /*  */
    /* margin-left: 10%;  */
    /*  */
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: 0.05em;

    color: #444444;
}

/* Section card */
.section-content{
    width: 100%;
    height: auto;
}

.section-content-card{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 10%;
}

.section-card{
    width: 33.333%;
    /* height: auto; */
    height: 615px;
    float: left;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.07);
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
}
/* Hover */
.section-card:hover{
    background: url(image/hhover-hero.png);
}

.section-card:hover .section-text{
    color: white;
}

.section-card:hover .card-button{
    background-color: #F47B21;
    border: 1.3px solid #FFFFFF;
}

/*  */

.section-card-title{
    width: auto;
    height: auto;
    align-items: center;
    /*  */
    margin: 5%;
}

.section-card-title-logo{
    width: 100%;
    height: 90px;
}

.section-text{
    width: 100%;
    height: auto;
    margin-top: 15%;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.07em;

    /* Grey-text */
    color: #868686;
}

.card-button{
    width: 45%;
    height: 40px;
    position: absolute;
    bottom: 50px;
    margin-left: 20%;

    background: #F47B21;
    border-radius: 99px;
}

.card-button-text{
    width: auto;
    height: auto;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    text-align: center; 

    top: 5px;
    color: #FFFFFF;
}

.card-bottom{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

/* Meet The Team */
.team-container{
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.team-card{
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}

.team-image{
    width: 25%;
    height: 155px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
}

.team-detail{
    width: 70%;
    height: auto;
    float: left;
}

.team-detail-name{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #F47B21;
}

.team-detail-job{
    /* Desktop/Content */

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #ADADAD;
}

.team-detail-description{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    letter-spacing: 0.03em;

    color: #333333;
}

/* Slider */
.slider-container{
    top: 100px;
    width: 100%;
    height: auto;
    position: relative;
}

.slider-image-under{
    width: 50%;
    left: 0px;
}

.slider-container-content{
    width: 65%;
    height: auto;
    position: absolute;
    top: 59%;
    left: 32%;
    z-index: 1000;

    background: url(image/111.png);
}

.top-image-slider{
    width: 5%;
    height: 8%;
    position: absolute;
    top: 5.2%;
    left: 34%;
    z-index: 3000;
}

.slider-container-content .section-title{
    color: #FFFFFF;
    font-size: 75px;
    line-height: 80px;
    font-weight: bolder;   
    text-transform: capitalize;
    /* text-align: left; */
    padding-top: 5%;
    padding-left: 10%;
    box-sizing: border-box;
}

.slider-content{
    width: 100%;
    height: auto;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    box-sizing: border-box;
}

.slider-image{
    float: left;
    width: 15%;
    height: auto;
    margin-top: 3%;
}

.image-logo{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.slider-description{
    margin-top: 3%;
    width: 80%;
    height: auto;
    float: left;
    color: white;
    padding-left: 5%;
    box-sizing: border-box;

    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.07em;
}


/* end phuong css */
.section-map, .section-blog{
    overflow: hidden;
}

.content{
    padding-top: 28% !important;
    padding-left: 7%;
    box-sizing: border-box;
}

/* <!-- section 1 - card section --> */
.section1-title, .section2-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 130%;
}
.card-section{
    line-height: 47px;
    margin-top: 10px;
    overflow: hidden;
}


.card-img img{
    width: 98%;
}

.card{
    float: left;
    width: 33%;
}

.img-title{
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #F47B21;
}

.card-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;

    letter-spacing: 0.07em;

    color: #000000;
}

.card-content{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.07em;

color: #333333;
}

.frame, .readmore-link{
    float: left;
}

.readmore-link{
    text-decoration: none;
    margin-top: 12px;
    margin-left: 10px;

    /* set for text */
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    color: #F47B21;
}
/* <!-- end card-section --> */

/* <!-- section 2 --> */
.section2-title{
    margin-top: 10px;
    text-align: center;
}

.world-map img{
    width: 100%;
}

.parameter{
    overflow: hidden;
    height: auto;
}

.parameter-detail{
    float: left;
    width: 25%;
    text-align: center;
}

.number{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 84px;
    /* text-align: center; */
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #F47B21;
}

.detail{
    margin-top: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #333333;

}
/* <!-- end section 2 --> */

/* <!-- partner-section --> */
.partner-section{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.partner-section .image{
    
    float: left;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image img{
    height: 63px;
    width: 200px;
    
}

/* <!-- end partner-section --> */

/* CSS for footer */

footer{
    padding-top: 100px;
    width: 100%;
    
}

.child-footer-section1, .child-footer-section2{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 53px;
}


.footer-section1{
    overflow: hidden;
    background: url("image/image38.jpg") no-repeat;
    text-align: center;
}

.footer-title{
    width: 84%;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: 0.03em;

    color: #333333;
}

.button-learn{
    box-sizing: border-box;
}

.button-learn button{
    margin-bottom: 40px;
    padding: 14px;
    align-items: center;
    text-align: center;
    background: #ff000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    width: auto;
    height: auto;
    color: #fff;
}

.footer-section2{
    background: #222222;
    height: auto;
    overflow: hidden;
}

.content{
    padding-top: 53px;
}

.logo-icon{
    background: url("image/logo-footer.png") no-repeat;
    width: 100%;
    height: 68px;
}

.itzinya-intro, .networks, .news, .contact{
    float: left;
    line-height: 28px;
   
}

.itzinya-intro,.contact{
    width: 30%;
}


.networks, .news{
    width: 20%;
}

.email-link button{
    border-radius: 30px;
    background: #ff000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    color: #fff;
    width: 98%;
    padding: 10px;
    text-align: left;
}

.email-link button img{
    color: #fff;
    float: right;
}


.networks-title, .news-title, .contact-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.07em;
    
    color: #FFFFFF;
    margin-bottom: 20px;
    
}

.networks-title, .news-title, .contact-title{
    height: 100px;
}
.about-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.07em;
    
    /* white */
    color: #FFFFFF;
}

.about-content, .subcribe{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.07em;
    
    color: #FFFFFF;
}

.network-list p a, .news-list p a{
    text-decoration: none;
    font-family: verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 240%;
    letter-spacing: 0.07em;
    color: #F47B21;
}

.subcribe, .email-link{
    margin-top: 20px;
}

.social-icon ~img{
    margin-left: 10px;
}


/* suppport css */

.container-header {
    background-image: url("image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.page-title {
    text-align: center;
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    padding-top: 15%;
}

/* css for containt */
.content_title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    box-sizing: border-box;
    color: #333333;
}

.content_below_title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #444444;
}


.section-content{
    padding-left: 7%;
    overflow: hidden;
}

.child-content{
    padding-right: 7%;
    padding-top: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.blog{
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    /* margin-left: 5px; */
    width: 33%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    height: 1000px;
    margin-bottom: 10px;
    position: relative;
}

.child-blog{
    box-sizing: border-box;
    padding: 5%;
}

.blog-content{
    box-sizing: border-box;
    font-family: Myriad Pro;
    margin-top: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.07em;

    /* Grey-text */
    color: #868686;

}

.button-more {
    box-sizing: border-box;
    position: absolute;
    margin-left: 6%;
    padding-bottom: 10%;
}

.button-more button{
    align-items: center;
    text-align: center;
    background: #F47B21;;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    width: 306px;
    height: auto;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    /* White */
    color: #FFFFFF;
    padding: 5%;
}
.rectangle{
    box-sizing: border-box;
    height: 15px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
